body {
    margin: 0;
    scrollbar-gutter: stable;  /* Allow scrolling on the entire body */
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #000000 0%, #000000 100%);
    color: #fff;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    ::-webkit-scrollbar { 
    width: 8px;
}
.card hr {
margin: 10px 0; /* Adjust margin as needed */
border: 0;
border-top: 1px solid #333; /* Or your desired color */
}
::-webkit-scrollbar-track {
background: transparent; 
}

::-webkit-scrollbar-thumb {
background-color: #ffffff38; 
border-radius: 4px;
transition: background-color 0.3s ease; 
}

::-webkit-scrollbar-thumb:hover {
background-color: #8ea1e1; 
}

scrollbar-width: thin;
scrollbar-color: #ffffff38 transparent;

  }
    .card-term {
    width: 300px;
    height: auto; 
    background-color: #1b1b1b;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 0 0 2px transparent; 
    margin: 20px;
    border: 1px solid #ffffff38; 
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
  }
  .card-term hr{
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #333;}


  .command-container {
    max-width: 1200px;
    margin: 20px auto; 
    max-height: calc(100vh - 250px);
    overflow-y: auto;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;}
  .hidden {
    display: none;
  }
  .card {
    width: 300px;
    height: auto; 
    background-color: #1b1b1b;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 0 0 2px transparent; 
    margin: 20px;
    border: 1px solid #29263a; 
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .intro, .buttons {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s;
    user-select: none;
  }

  h2, p {
    user-select: none;
  }